---
http_interactions:
- request:
    method: get
    uri: https://api.viadeo.com/me/contacts?is_premium=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token_test_3e8c55877482b2
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Uuid:
      - adc9fe02-7af3-4d84-ac54-cbb0d5f8ca77
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"","type":"USER CONTACTS","name":"Neceha Bgl","link":"http://www.viadeo.com/profile/0021igiwa56ywlp9/fr/?readOnly=true&currentab=contacts","count":0,"paging":{"previous":"","next":""},"updated_time":"2013-05-03T13:05:17+0200","count_string":"0","data":[]}'
  recorded_at: Fri, 03 May 2013 11:05:17 GMT
recorded_with: VCR 2.4.0
